:root {
  --base-black: #131313;
  --base-white: #fdf5f5;
  --base-grey: #b6b6b6;
  --base-green: #b5ffa2;
  --base-red: #ff4c4c;
  --base-blue: #8c84ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 100%;
}

input, textarea {
  outline: none;
  resize: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.background-green { background: var(--base-green); }
.background-red { background: var(--base-red); }
.background-blue { background: var(--base-blue); }

.base-input {
  border: 1px solid var(--base-black);
  background: none;
  border-radius: 5px;
  width: 100%;
  padding: 7px 15px;
  font-size: 15px;
  color: var(--base-black);
  background: var(--base-white);
  
  &.textarea { height: 150px; }
}

.base-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--base-black);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  padding: 7px 15px;
  gap: 10px;

  &.disabled {
    cursor: not-allowed;
    background: var(--base-grey) !important;
    border: 1px solid var(--base-grey) !important;
    color: var(--base-white) !important;
  }
}

.base-title {
  color: var(--base-black);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.base-description {
  color: var(--base-black);
  font-size: 15px;
  font-weight: 400;
  word-break: break-all;
}

.base-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.empty-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base-white);
  border-radius: 5px;
  width: 100%;
  height: 100px;

  p {
    color: var(--base-grey);
    font-size: 15px;
    font-weight: 400;
    word-break: break-all;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}